<div class="wallet-container">
    <div class="userxch_tablediv statstablediv">
        <div class="userxch_tablediv_ins statstablediv_ins">
            <table>
                <tbody>
                    <tr>
                        <th class="th1">Personal discount</th>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <th>Exchanges</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>Amount of exchanges</th>
                        <td>0 USD</td>
                    </tr>
                    <tr>
                        <th class="th2">Download operations archive</th>
                        <td class="td1 td2"><a href="https://ewallet.exchange/request-archivebids.html?lang=en&amp;customize_changeset_uuid=b9ce0db9-a29d-429a-a499-54a284840b58&amp;customize_messenger_channel=preview-1" target="_blank" rel="noreferrer noopener">Download</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="userxchtable pntable_wrap">
        <div class="userxchtable_ins pntable_wrap_ins">
            <div class="userxchtable_title pntable_wrap_title">
                <div class="userxchtable_title_ins pntable_wrap_title_ins">
                    Your transactions
                </div>
            </div>
            <div class="userxch_table pntable">
                <div class="userxch_table_ins pntable_ins">
                    <div class="adaptive_wrap" style="min-height: 100%;">
                        <table class="has_adaptive_wrap not_adaptive">
                            <thead>
                                <tr>
                                    <th class="th_id th1">ID</th>
                                    <th class="th_date">Date</th>
                                    <th class="th_rate">Rate</th>
                                    <th class="th_give">Send</th>
                                    <th class="th_get">Receive</th>
                                    <th class="th_status">Status</th>
                                    <th class="th_bcc th2">Number of confirmations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>280</td>
                                    <td>2020-04-09, 08:03</td>
                                    <td><span class="exch_course1"><span class="exch_sum">1</span> BTC</span> <span class="exch_course2"><span class="exch_sum">7363.54</span> USD</span>
                                    </td>
                                    <td><span class="exch_sum">0.00101</span> Bitcoin BTC</td>
                                    <td><span class="exch_sum">7.33</span> Perfect Money USD</td>
                                    <td><a href="https://ewallet.exchange/hst_5jK0yIkAIZiqI5cS9KG7sYb9Zx3PFEL2KwX/?customize_changeset_uuid=b9ce0db9-a29d-429a-a499-54a284840b58&amp;customize_messenger_channel=preview-1" target="_blank" rel="noreferrer noopener" class="exch_status_link st_delete">deleted order</a></td>
                                    <td><span class="bcc">0</span></td>
                                </tr>
                                <tr>
                                    <td>276</td>
                                    <td>2020-04-09, 07:46</td>
                                    <td><span class="exch_course1"><span class="exch_sum">1</span> BTC</span> <span class="exch_course2"><span class="exch_sum">7327.92</span> USD</span>
                                    </td>
                                    <td><span class="exch_sum">0.00101</span> Bitcoin BTC</td>
                                    <td><span class="exch_sum">7.29</span> Perfect Money USD</td>
                                    <td><a href="https://ewallet.exchange/hst_kU5J9ZwhOTFxrwH2827CJ33BI56UYsysMba/?customize_changeset_uuid=b9ce0db9-a29d-429a-a499-54a284840b58&amp;customize_messenger_channel=preview-1" target="_blank" rel="noreferrer noopener" class="exch_status_link st_delete">deleted order</a></td>
                                    <td><span class="bcc">0</span></td>
                                </tr>
                                <tr>
                                    <td>275</td>
                                    <td>2020-04-09, 07:45</td>
                                    <td><span class="exch_course1"><span class="exch_sum">1</span> BTC</span> <span class="exch_course2"><span class="exch_sum">7327.42</span> USD</span>
                                    </td>
                                    <td><span class="exch_sum">0.00101</span> Bitcoin BTC</td>
                                    <td><span class="exch_sum">7.29</span> Perfect Money USD</td>
                                    <td><a href="https://ewallet.exchange/hst_6Qdbncb5knHa1l1k9JEVcrBf438QoURAOS1/?customize_changeset_uuid=b9ce0db9-a29d-429a-a499-54a284840b58&amp;customize_messenger_channel=preview-1" target="_blank" rel="noreferrer noopener" class="exch_status_link st_delete">deleted order</a></td>
                                    <td><span class="bcc">0</span></td>
                                </tr>
                                <tr>
                                    <td>272</td>
                                    <td>2020-04-09, 06:35</td>
                                    <td><span class="exch_course1"><span class="exch_sum">1</span> BTC</span> <span class="exch_course2"><span class="exch_sum">7317.1</span> USD</span>
                                    </td>
                                    <td><span class="exch_sum">0.00101</span> Bitcoin BTC</td>
                                    <td><span class="exch_sum">7.28</span> Perfect Money USD</td>
                                    <td><a href="https://ewallet.exchange/hst_0FmGPUscerruw3028ZoUHH6DgZWWibo7rxM/?customize_changeset_uuid=b9ce0db9-a29d-429a-a499-54a284840b58&amp;customize_messenger_channel=preview-1" target="_blank" rel="noreferrer noopener" class="exch_status_link st_cancel">cancelled order by user</a></td>
                                    <td><span class="bcc">0</span></td>
                                </tr>
                                <tr>
                                    <td class="td1">270</td>
                                    <td>2020-04-09, 05:38</td>
                                    <td><span class="exch_course1"><span class="exch_sum">1</span> BTC</span> <span class="exch_course2"><span class="exch_sum">7285.41</span> USD</span>
                                    </td>
                                    <td><span class="exch_sum">0.00101</span> BTC BTC</td>
                                    <td><span class="exch_sum">7.25</span> Perfect Money USD</td>
                                    <td><a href="https://ewallet.exchange/hst_J6ZrHp0rP4aZNOTA5BF0T6jjROXoNq8aYnv/?customize_changeset_uuid=b9ce0db9-a29d-429a-a499-54a284840b58&amp;customize_messenger_channel=preview-1" target="_blank" rel="noreferrer noopener" class="exch_status_link st_cancel">cancelled order by user</a></td>
                                    <td class="td2"><span class="bcc">0</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>